{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/images/generals-quarters.png" class="img-fluid img-thumbnail mx-auto d-block room-image" alt="Generals-quarters">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">General's Quarters</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis culpa quas perspiciatis sed consequuntur quod quibusdam excepturi eum, voluptates non voluptate neque sequi? Aliquam harum laborum, quas magni ad culpa.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis culpa quas perspiciatis sed consequuntur quod quibusdam excepturi eum, voluptates non voluptate neque sequi? Aliquam harum laborum, quas magni ad culpa.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis culpa quas perspiciatis sed consequuntur quod quibusdam excepturi eum, voluptates non voluptate neque sequi? Aliquam harum laborum, quas magni ad culpa.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col text-center">
                <a href="#!" id="check-availability-button" class="btn btn-success">Check Availability</a>
            </div>
        </div>
    </div>

{{end}}


{{define "js"}}

    <script>
        PromptAvail("1", "{{.CSRFToken}}")
    </script>

{{end}}