{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>This is the home page</h1>
      <p>This is some text</p>
      <p>This come from data : {{index .StringMap "test"}}</p>
      <p>
        {{if ne (index .StringMap "remote_ip") ""}}
          Your remoteIP address is {{index .StringMap "remote_ip"}}
          {{else}}
          I don't know who you are.
          Visit <a href="/about">here</a> to register your info.
        {{end}}
      </p>
    </div>
  </div>
</div>
{{end}}
