{{template "base" .}}

{{define "content"}}

    <div class="container">

        <div class="row">
            <div class="col">
                <img src="/static/images/marjors-suite.png"
                    class="img-fluid img-thumbnail mx-auto d-block room-image" alt="room image">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Major's Suite</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci porro soluta fugiat ullam accusantium quos, eum ex omnis voluptates, error sunt at ut ab vitae itaque quam amet ea. Quae.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci porro soluta fugiat ullam accusantium quos, eum ex omnis voluptates, error sunt at ut ab vitae itaque quam amet ea. Quae.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci porro soluta fugiat ullam accusantium quos, eum ex omnis voluptates, error sunt at ut ab vitae itaque quam amet ea. Quae.
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col text-center">

                <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>

            </div>
        </div>

    </div>

{{end}}

{{define "js"}}

    <script>
        PromptAvail("2", "{{.CSRFToken}}")
    </script>

{{end}}